@media (prefers-color-scheme: light) {
  :root {
    --text: rgb(14, 24, 32);
    --background: rgb(241, 245, 249);
    --secondary: #dee2e8;
    --accent: rgb(255, 173, 173);
    --mech: #214575;
    --live: rgb(255, 0, 0);
    --first: rgb(247, 183, 65);
    --second: rgb(57, 173, 240);
    --third: rgb(153, 94, 27);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(223, 233, 241);
    --background: rgb(6, 10, 14);
    --secondary: #171b21;
    --accent: rgb(122, 6, 6);
    --mech: rgb(115, 174, 252);
    --live: rgb(200, 0, 0);
    --first: rgb(247, 183, 65);
    --second: rgb(57, 173, 240);
    --third: rgb(153, 94, 27);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--background);
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%;
  color: var(--text);
}

h1 {font-size: 3.366rem;}

h2 {font-size: 2.525rem;}

h3 {font-size: 1.894rem;}

h4 {font-size: 1.421rem;}

h5 {font-size: 1.066rem;}

small {font-size: 0.600rem;}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.mech {
  color: var(--mech);
}

.live {
  background-color: var(--live);
  padding: 7px 10px;
  margin-right: 5px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.section {
  font-size: xx-large;
  text-align: center;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  width: max(min(90%, 500px), 33%);
  margin: auto;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  background-color: var(--secondary);
  border-style: none;
  border-radius: 10px;
  padding: 15px 0px;
  color: var(--text);
  transition: background-color 0.1s;
}

.button:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.button.selected {
  background-color: var(--accent);
}

.search-box {
  border-radius: 10px;
  border-style: none;
  padding: 7px;
  width: max(min(60%, 333px), 22.2%);
  /* box-shadow: 3px 3px rgba(71, 71, 71, 0.685); */
  margin: 20px auto;
  text-align: center;
  display: block;
  background-color: var(--secondary);
}

.board-container {
  margin: auto;
  width: max(min(90%, 500px), 33%);
  display: block;
  align-content: center;
}

.player-card {
  background-color: var(--secondary);
  border-radius: 15px;
  margin: 0px 0px 10px 0px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
}

.player-info {
  margin: 0px;
}

.podium-card {

}

.player-ranking {
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 1.421rem;
}

.first {
  font-size: 3.366rem;
  color: var(--first);
  text-shadow: 0px 0px 25px var(--first);
}

.second {
  font-size: 2.525rem;
  color: var(--second);
  text-shadow: 0px 0px 25px var(--second);
}

.third {
  font-size: 1.894rem;
  color: var(--third);
  text-shadow: 0px 0px 25px var(--third);
}

.player-name {
  flex: 4;
  text-align: center;
  font-weight: 600;
}

.player-rating {
  flex: 1;
  text-align: center;
}